# Скопируйте этот файл в .env и заполните своими ключами
#api ключ для openai
OPENAI_API_KEY=sk-...
#api ключ для openrouter
OPENROUTER_API_KEY=sk-...
#используемый провайдер (варианты: openai, openrouter, ollama)
LLM_PROVIDER=openai